<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title | default: site.title | liquify }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div id="app">
      <div class="theme-container {{ page.themeContainerClasses }}">

        {% include navbar.html %}

        <div class="content-wrapper">
          {{ content }}
        </div>

        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
