{% assign splits = page.url | split: '/' %}
{% assign current_version = splits[2] %}

<aside class="sidebar">
  <form class="version-nav">
    <label for="doc-version-selector">Version</label>
    <select name="doc-version-selector" class="version-selector" id="version-selector">
      {% for version in site.data.versions %}
        <option value="{{ version.release }}" {% if version.release == current_version %} selected {% endif %}>
          {{ version.release }}
          {% if version == site.data['latest_version'] %}
            (latest)
          {% endif %}
        </option>
      {% endfor %}
    </select>
  </form>

  {% include nav_links.html %}

  {% include sidebar_links.html nav_items=page.nav_items version=page.version depth=0 %}
</aside>
